*{
	margin: 0;
	padding: 0;
}
.form-upload {
	cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: w;
    height: h;
    cursor: hand;
    opacity: 0;
    overflow: hidden
}
.modal {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
}
.wrap-img{
	display: inline-block;
	position: relative;
}
.preview {
	width: 400px;
}
.crop {
	position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.23);
    border: 2px dashed #000;
    cursor: move;
}

.foot-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}
.btn {
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 13px;
    color: #222;
    line-height: 32px;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;    
    -webkit-appearance: button;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #777;
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.btn-upload {
    background: #27ae60;
    border-color: #27ae60;
    color: #fff;
}
.btn-upload:hover {
    background: #2dc26c;
    border-color: #27ae60;
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
}